
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    color: #333333;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.8;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .container {
        position: relative;
        padding: 0 15px;
        text-align: center;
        overflow: hidden;
    }
    section{
        margin-bottom: 15rem;
    }
section{
    margin-bottom: 15rem;
}
img{
max-width: 100%;
height: auto;
border: none;
vertical-align: bottom;
}

a{
display: inline-block;
text-decoration: none;
color: inherit;
}